@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Trabalho Final de Fundamentos de Testes de Software</h1>
    <p class="h3">Integrantes: Ana Luiza Barros, Douglas Barbosa, Lucas Gomes Oliveira e Petrônio Neves Moreira</p>
    <p class="h3">Repositório Git: <a href="https://github.com/lucgomoliv/TFFTS">https://github.com/lucgomoliv/TFFTS</a></p>
</div>
